<a href="/players">Player Index</a>
<h1>All Teams </h1>

<% @teams.each do |team| %>
  <h3><a href="/teams/<%= team.id %>"><%= team.name %></a></h3>
  <p> CreatedAt: <%= team.created_at %></p>


<% end %>

<p><a href="/teams/new">New Team</a></p>